---
import { getLocale } from "astro-i18n-aut";
import { Image } from "astro:assets";
import aboutImg from "../assets/about.png";
import "./About.scss";
import Socials from "./Socials.astro";

const locale = getLocale(Astro.url);

const translation = {
  es: {
    title: "Hola Mundo, soy Jorge",
    textTitle: `Desarrollador frontend ubicado en Madrid. Apasionado por
    crear sitios y aplicaciones web que sean rápidos y accesibles.`,
    technologies: "Tecnologías",
    buttonCurriculum: "Revisa mi curriculum",
    buttonEmail: "Enviame un email",
    languages: "Lenguajes",
    frameworks: "Frameworks",
    tools: "Herramientas",
    design: "Diseño",
    experience: {
      title: "Experiencia",
      items: [
        {
          year: "2022 ~",
          position: "Desarrollador Frontend",
          company: "Freelance",
          responsibilities: [
            "Desarrollo de sitios web responsivos con diseño mobile-first optimizados para SEO.",
            "Implementación de tecnologías como TypeScript, Next.js, Tailwind y React-Redux.",
            "Mantenimiento de aplicaciones web en React y pruebas automatizadas con React Testing Library.",
            "Uso de sistemas de control de versiones como Git y GitHub.",
            "Diseño de maquetas utilizando Figma, Adobe Illustrator y Photoshop.",
          ],
        },
        {
          year: "2022 2023",
          position: "Desarrollador Frontend (Prácticas)",
          company: "CardTec",
          responsibilities: [
            "Mantenimiento de interfaces SPA con React.js.",
            "Maquetación de Front-End.",
            "Resolución de errores y optimización de la plataforma de gestión de recargas en telefonía móvil.",
            "Colaboración bajo la metodología Scrum, participando en dailies y Sprints.",
          ],
        },
      ],
    },
    certifications: {
      title: "Certificaciones",
      items: [
        {
          year: "2023",
          name: "React Query",
          company: "DevTalles",
          link: "https://cursos.devtalles.com/certificates/0hkrdbbh3i",
        },
        {
          year: "2023",
          name: "Programación con Python",
          company: "Universidad Nacional Experimental Francisco de Miranda",
          link: "https://utfs.io/f/fEVrcPOd8IS4QhtouQCFJWswBeGpFt0K742nE6ZUYDVfHPh9",
        },
        {
          year: "2023",
          name: "Desarrollo de Software Full Stack",
          company: "4Geeks Academy",
          link: "https://certificate.4geeks.com/c3b2581580190f5d838da6d7d12ed0768635e3ff",
        },
        {
          year: "2022",
          name: "Algoritmos y Estructuras de Datos en Javascript",
          company: "freeCodeCamp",
          link: "https://www.freecodecamp.org/certification/fcc45806cec-e610-4c60-8b82-cabda7cecc87/javascript-algorithms-and-data-structures",
        },
        {
          year: "2022",
          name: "Diseño Web Responsivo",
          company: "freeCodeCamp",
          link: "https://www.freecodecamp.org/certification/fcc45806cec-e610-4c60-8b82-cabda7cecc87/responsive-web-design",
        },
        {
          year: "2022",
          name: "EFSET Certificado de inglés C2",
          company: "EFSET",
          link: "https://cert.efset.org/A8npxU",
        },
      ],
    },
  },
  en: {
    title: "Hello World, I'm Jorge",
    textTitle: `A full-stack developer based in Madrid. I have a passion for web development and love to
    create websites and web applications that are fast, responsive, and accessible.`,
    technologies: "Technologies",
    buttonCurriculum: "Check my curriculum",
    buttonEmail: "Send me an email",
    languages: "Languages",
    frameworks: "Frameworks",
    tools: "Tools",
    design: "Design",
    experience: {
      title: "Experience",
      items: [
        {
          year: "2022 ~",
          position: "Frontend Developer",
          company: "Freelance",
          responsibilities: [
            "Development of responsive websites with Mobile First Design optimized for SEO.",
            "Implementation of technologies such as TypeScript, Next.js, Tailwind and React-Redux.",
            "Maintenance of web applications in React and automated testing with React Testing Library.",
            "Using version control with Git and GitHub.",
            "Mockup design using Figma, Adobe Illustrator and Photoshop.",
          ],
        },
        {
          year: "2022 2023",
          position: "Frontend Developer",
          company: "CardTec",
          responsibilities: [
            "Maintenance of SPA interfaces with React.js.",
            "Front-End Layout.",
            "Bug resolution and optimization of mobile phone recharge management platform.",
            "Collaboration under the Scrum methodology, participating in dailies and Sprints.",
          ],
        },
      ],
    },
    certifications: {
      title: "Certifications",
      items: [
        {
          year: "2023",
          name: "React Query",
          company: "DevTalles",
          link: "https://cursos.devtalles.com/certificates/0hkrdbbh3i",
        },
        {
          year: "2023",
          name: "Programming with Pyton",
          company: "National Experimental Francisco de Miranda University",
          link: "https://utfs.io/f/fEVrcPOd8IS4QhtouQCFJWswBeGpFt0K742nE6ZUYDVfHPh9",
        },
        {
          year: "2023",
          name: "Full Stack Software Development PT",
          company: "4Geeks Academy",
          link: "https://certificate.4geeks.com/c3b2581580190f5d838da6d7d12ed0768635e3ff",
        },
        {
          year: "2022",
          name: "Javascript Algorithms and Data Structures",
          company: "freeCodeCamp",
          link: "https://www.freecodecamp.org/certification/fcc45806cec-e610-4c60-8b82-cabda7cecc87/javascript-algorithms-and-data-structures",
        },
        {
          year: "2022",
          name: "Responsive Web Design",
          company: "freeCodeCamp",
          link: "https://www.freecodecamp.org/certification/fcc45806cec-e610-4c60-8b82-cabda7cecc87/responsive-web-design",
        },
        {
          year: "2022",
          name: "EFSET English Certificate C2",
          company: "EFSET",
          link: "https://cert.efset.org/A8npxU",
        },
      ],
    },
  },
};

const t = translation[locale as keyof typeof translation];

const technologies = {
  languages: ["JavaScript", "TypeScript", "Python"],
  frameworks: ["React", "Next.js", "Astro", "Flask"],
  ui: ["Sass", "Less", "Tailwind", "MaterialUI", "Bootstrap"],
  tools: ["Redux", "Firebase", "React Query", "React Testing Library", "Git/GitHub"],
  design: ["Figma", "Adobe Illustrator/Photoshop"],
};
---

<section id="about" class="container">
  <div class="info">
    <div class="left">
      <h2>{t.title}</h2>
      <p>
        {t.textTitle}
      </p>
      <a
        href={locale === "es"
          ? "https://utfs.io/f/fEVrcPOd8IS4hrzbfaIBygX6otkVLQEz597K3UR1cCW4srGa"
          : "https://utfs.io/f/fEVrcPOd8IS4LNC1Dzjqn73eUTWB5EJSbVgCKGujlwqckOsA"}
        target="_blank"
        class="download-cv">{t.buttonCurriculum}</a
      >
      <a href="email:hola@joviedo.com" target="_blank" class="download-cv">{t.buttonEmail}</a>
      <div class="technologies">
        <h4>{t.technologies}</h4>
        <div class="technologies-list">
          <div class="item">
            <p>{t.languages}:</p>
            <div class="wrapper">
              {technologies.languages.map((tech) => <p>{tech}</p>)}
            </div>
          </div>
          <div class="item">
            <p>UI:</p>
            <div class="wrapper">
              {technologies.ui.map((tech) => <p>{tech}</p>)}
            </div>
          </div>
          <div class="item">
            <p>{t.frameworks}:</p>
            <div class="wrapper">
              {technologies.frameworks.map((tech) => <p>{tech}</p>)}
            </div>
          </div>
          <div class="item">
            <p>{t.tools}:</p>
            <div class="wrapper">
              {technologies.tools.map((tech) => <p>{tech}</p>)}
            </div>
          </div>
          <div class="item">
            <p>{t.design}:</p>
            <div class="wrapper">
              {technologies.design.map((tech) => <p>{tech}</p>)}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <Image src={aboutImg} alt="About" class="about-img" />
      <Socials />
    </div>
  </div>
  <div class="experiences">
    <h3>{t.experience.title}</h3>
    {
      t.experience.items.map((item: any) => (
        <div class="experience">
          <div class="experience-header">
            <div class="experience-header__left">
              <span>{item.year}</span>
              <h4>{item.position}</h4>
            </div>
            <div class="experience-header__right">
              <p>{item.company}</p>
            </div>
          </div>
          <div class="experience-content">
            <h5 />
            <ul>
              {item.responsibilities.map((responsibility: string) => (
                <li>
                  <p>{responsibility}</p>
                </li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
  <div class="certifications">
    <h3>{t.certifications.title}</h3>
    {
      t.certifications.items.map((item: any) => (
        <a href={item.link} target="_blank" class="certification">
          <div class="certification__left">
            <span>{item.year}</span>
            <h4>{item.name}</h4>
          </div>
          <div class="certification__right">
            <p>{item.company}</p>
            <span>↘</span>
          </div>
        </a>
      ))
    }
  </div>
</section>
