---
import "./Accordion.scss";

import { Image } from "astro:assets";
import { getLocale } from "astro-i18n-aut";

import reactive1 from "../assets/projects/reactive1.webp";
import reactive2 from "../assets/projects/reactive2.webp";
import reactive3 from "../assets/projects/reactive3.webp";

import bytereviews1 from "../assets/projects/bytereviews1.webp";
import bytereviews2 from "../assets/projects/bytereviews2.webp";
import bytereviews3 from "../assets/projects/bytereviews3.webp";

import stocky1 from "../assets/projects/stocky1.webp";
import stocky2 from "../assets/projects/stocky2.webp";
import stocky3 from "../assets/projects/stocky3.webp";

const locale = getLocale(Astro.url);

const translation = {
  es: {
    ByteReviews:
      "Desarrollo y diseño de una plataforma de reseñas, ByteReviews, una comunidad que se dedica a valorar productos de tecnologia.",
    Reactive:
      "Desarrollo y diseño de red social, Reactive, una comunidad que se dedica a ayudar a los desarrolladores de React a través de la integración de Networking.",
    Stocky:
      "Desarrollo y diseño de un sistema de gestión de inventario, Stocky, enfocado en ayudar a las empresas a gestionar su inventario y ventas.",
  },
  en: {
    ByteReviews:
      "Developed and designed a review platform, ByteReviews, a community that is dedicated to rate technology products.",
    Reactive:
      "Developed and designed a social network, Reactive, a community that is dedicated to helping React developers through Networking integration.",
    Stocky:
      "Developed and designed an inventory management system, Stocky, focused on helping companies manage their inventory and sales.",
  },
};

const t = translation[locale as keyof typeof translation];

const projects = [
  {
    title: "ByteReviews",
    year: "2023",
    description: t.ByteReviews,
    technologies: ["React", "Next.js", "Firebase"],
    images: [bytereviews1, bytereviews2, bytereviews3],
    links: {
      github: "https://github.com/JorgeOviedo3/ByteReviews",
      demo: "https://bytereviews.net",
    },
  },
  {
    title: "Reactive",
    year: "2023",
    description: t.Reactive,
    technologies: ["Javascript", "React", "Python", "Flask"],
    images: [reactive1, reactive2, reactive3],
    links: {
      github: "https://github.com/JorgeOviedo3/Reactive",
      demo: "https://reactivedevs.onrender.com",
    },
  },
  {
    title: "Stocky",
    year: "2022",
    description: t.Stocky,
    technologies: ["Javascript", "React", "Python", "Flask"],
    images: [stocky1, stocky2, stocky3],
    links: {
      github: "https://github.com/sabahrahal/stocky-final-project",
      demo: "https://stocky.onrender.com",
      video: "https://www.youtube.com/watch?v=St4Okrc6Mqc",
    },
  },
];
---

<script>
  const accordionHeaders = document.querySelectorAll(".accordion__item__header");
  const accordionContents = document.querySelectorAll(".accordion__item__content");

  accordionHeaders.forEach((header) => {
    header.addEventListener("click", () => {
      const accordionItem = header.parentElement;
      const accordionContent = accordionItem?.querySelector(".accordion__item__content");

      accordionContents.forEach((content) => {
        if (content !== accordionContent) {
          content.classList.remove("active");
          content.style.maxHeight = "0";
        }
      });

      accordionContent?.classList.toggle("active");

      if (accordionContent?.classList.contains("active")) {
        accordionContent.style.maxHeight = accordionContent.scrollHeight + "px";
        accordionItem?.scrollIntoView({ behavior: "smooth", block: "start" });
      } else {
        accordionContent.style.maxHeight = "0";
      }
    });
  });
</script>
<div class="accordion">
  {
    projects.map((project: any) => (
      <div class="accordion__item">
        <div class="accordion__item__header">
          <div class="accordion__item__header__left">
            <span>{project.year}</span>
            <h3>{project.title}</h3>
          </div>
          <div class="accordion__item__header__right">
            <span class="accordion__item__header__right-link">↘</span>
          </div>
        </div>
        <div class="accordion__item__content">
          <p class="accordion__item__content__description">{project.description}</p>
          <ul>
            {project.technologies.map((technology: string) => (
              <li>{technology}</li>
            ))}
          </ul>
          <div class="accordion__item__content__links">
            {project.links.github && (
              <a href={project.links.github} target="_blank" class="button">
                GitHub
              </a>
            )}
            {project.links.demo && (
              <a href={project.links.demo} target="_blank" class="button">
                Demo
              </a>
            )}
            {project.links.video && (
              <a href={project.links.video} target="_blank" class="button">
                Video
              </a>
            )}
          </div>
          <div class="accordion__item__content__images">
            {project.images.map((image: string) => (
              // @ts-ignore
              <Image src={image} alt={`${project.title}`} class="project-image" />
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
